{% extends 'rango/base.html' %}
{% block title_block %}
    {% load staticfiles %}

{% endblock %}

{% block body_bock %}

     <div>
        {% if user.is_authenticated %}
            howdy! {{ user.username }}
        {% else %}
            hey there partner
        {% endif %}
    </div>

    <ul>
        {% if user.is_authenticated %}
            <li><a href="{% url 'restricted' %}">Restricted Page</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <div>
                <div>
                    <h3>Most Liked Categories</h3>
                </div>
                {% if categories %}
                    <ul>
                        {% for category in categories %}
                            <li>
                                <a href="{% url 'show_category' category.slug %}">
                                    {{ category.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong>There are no categories present.</strong>
                {% endif %}
            </div>

            {% if pages %}
                <ul>
                    {% for page in pages %}
                        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There are no categories present.</strong>
            {% endif %}
            </div>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>

        {% endif %}
    </ul>
    <p> Visits: {{ last_visit }} </p>
{% endblock %}